

    body {
      background-image:url('http://eskipaper.com/images/tumblr-wallpaper-39.jpg');
      width: auto;
      height: auto;
    }

<link rel="stylesheet" type="text/css" href="mystyle.css">