

    body {
      background-image:url('http://wallpaperrs.com/uploads/flowers/pink-flowers-bloom-wide-wallpaper-5181.jpg');
      width: auto;
      height: auto;
    }

<link rel="stylesheet" type="text/css" href="mystyle.css">